# Configurações do Servidor
PORT=3001
NODE_ENV=production

# Chaves de API (Google Gemini IA)
GEMINI_API_KEY=sua_chave_gemini_aqui

# Integração Discord (Webhook)
DISCORD_WEBHOOK_URL=sua_url_webhook_aqui
